

(*************************************)
(*   Never edit options files while  *)
(*       the program is running      *)
(*************************************)
(* SECTION : Header                  *)
(* These options must be read first  *)
(*************************************)



(* [project_name]: Project Name *)
project_name = "typerex-lint"

(* [project_version]: Project Version *)
project_version = "1.1"

(* [manage_files]: Files managed by ocp-autoconf in this project.           *)
(* Note that 'autoconf' here means the *directory* autoconf, i.e. all files *)
(* in that directory.                                                       *)
manage_files = [
  "push-opam.sh";
  autoconf;
  "opam";
  ".travis.yml";
  "autoconf/travis-install.sh";
  "autoconf/travis-ci.sh";
]

(* [project_copyright]: Project Copyright *)
project_copyright = "Copyright 2016 OCamlPro SAS"

(* [ocaml_minimal_version]: Minimal version of OCaml *)
ocaml_minimal_version = "4.02.3"

(* [ocaml_unsupported_version]: Version of OCaml not yet supported *)
ocaml_unsupported_version = ""

(* [need_packages]: Packages (ocamlfind) needed by the project.         *)
(* They can be specified as a list with items of the forms:             *)
(*  * "findlib"                                                         *)
(*  * ("findlib", "version")                                            *)
(*  * { name="findlib" version="version" opam="package" }               *)
(* The later form can be used to specify a different opam package name. *)
need_packages = [
  ppx_tools;
  { opam = menhir name = menhirLib };
  { opam = "ocp-build" name = "ocplib-config" version = "1.99.20-beta" };
  { opam = "ocp-indent" name = "ocp-indent.lib" };
  "js_of_ocaml";
  "tyxml";
  "lwt";
  "omd";
  "yojson";
  "js_of_ocaml-tyxml";
  "js_of_ocaml-camlp4";
]

(* [need_tools]: Tools needed by the project. Tested by ./configure. *)
need_tools = [
  "ocp-build";
]

(* [optional_packages]: ocamlfind packages that could be used by the project *)
optional_packages = [
]

(* [need_modules]: Modules needed by the project *)
need_modules = [
]

(* [extra_config_files]: Extra files to be substituted.         *)
(* Their paths should be related to the autoconf/ subdirectory. *)
extra_config_files = [
]

(* [extra_m4_files]: Extra m4 files to be added. *)
(* They will be copied in autoconf/m4/.          *)
extra_m4_files = [
]

(* [extra_config_vars]: Extra variables to be substituted.           *)
(* These variables will appear directly in autoconf/Makefile.config, *)
(* and as conf_xxx variables in autoconf/config.ocpgen, where xxx is *)
(* their lowercase translation.                                      *)
extra_config_vars = [
]

(* [extra_bool_vars]: Extra variables to be substituted as boolean. Same as *)
(* extra_config_vars, but they will appear as booleans in                   *)
(* autoconf/config.ocpgen                                                   *)
extra_bool_vars = [
]

(* [need_ocamllex]: Does the project need ocamllex *)
need_ocamllex = false

(* [need_ocamlyacc]: Does the project need ocamlyacc *)
need_ocamlyacc = false

(* [opam_maintainer]: Maintainer of the OPAM package *)
opam_maintainer =  "OCamlPro <typerex@ocamlpro.com>"

(* [authors]: Authors *)
authors = [ "OCamlPro <typerex@ocamlpro.com>"
]

(* [homepage]: URL of project homepage *)
homepage = ""

(* [github_project]: Name of the project on Github (Organization/Project). *)
(* Other fields can be inferred from this if left empty                    *)
github_project = "OCamlPro/typerex-lint"

(* [dev_repo]: URL of public development repository.                    *)
(* If github_project is specified, the value is automatically inferred. *)
dev_repo = ""

(* [download_url_prefix]: Prefix of the download URL.                   *)
(* The download URL should be:                                          *)
(*    ${download_url_prefix}${package_version}.tar.gz.                  *)
(* If github_project is specified, the value is automatically inferred. *)
download_url_prefix = ""

(* [bug_reports]: URL where bug reports should be issued.               *)
(* If github_project is specified, the value is automatically inferred. *)
bug_reports = ""

(* [opam_configure_line]: Line to appear in opam build instructions *)
opam_configure_line = [
  "./configure";
  "--prefix=%{prefix}%";
]

(* [opam_remove_commands]: Commands to call on OPAM remove *)
opam_remove_commands = [
  [ "make"; "uninstall" ]
]

(* [install_packages]: ocp-build packages to install and uninstall. *)
install_packages = [
]

(* [format_version]: Version of the format of this file *)
format_version = 5

(* [travis_versions]: Versions of OCaml to build on Travis. *)
travis_versions = [
  system;
  "4.02.3";
  "4.03.0";
  "4.04.0";
  "4.05.0";
  "4.06.0";
]

(*
 The following options are not used (errors, obsolete, ...) 
*)
project = { copyright = "" version = "" name = "" }
